.blog {
    margin-bottom: 2rem;

    .image-blog {
        border-radius: 0.25rem;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            background-color: black;
            width: 0;
            height: 100%;
            display: block;
            position: absolute;
            transform: skew(-10deg);
            opacity: 0.5;
            left: -2rem;
            transition: all 300ms;
            z-index: 1;
        }

        img {
            transition: all 300ms;
        }
    }

    h1 {
        transition: all 300ms;
    }

    &:hover {
        .image-blog {
            img {
                transform: scale(1.2);
            }

            &:before {
                width: 122%;
            }
        }

        h1 {
            color: #5044EB;
            text-decoration: underline;
        }
    }

    .category {
        background-color: #f1f1f1;
        padding-left: 0.5rem;
        padding-right: 0.25rem;
    }
}