.icon-wrapper {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    animation: 4s ups-down linear infinite;
}

@keyframes ups-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.big-circle {
    background-color: #EAEBFD;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    position: absolute;
}

.little-circle {
    border-radius: 50%;
    position: absolute;
    transition: 1000ms;
}

.services {
    background: linear-gradient(277.58deg, rgba(102, 213, 236, 0.4) 11.74%, rgba(82, 65, 255, 0.75) 88.26%), #2A1E9E;
    position: relative;
}

.sticky-on {
    animation: 1s fadeInDown;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -50px, 0);
        transform: translate3d(0, -50px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.service-card {
    &:hover {
        .service-icon {
            animation: 0.3s shake;
        }

        @keyframes shake {
            0% {
                -webkit-transform: translate(1px, 1px) rotate(0deg);
                transform: translate(1px, 1px) rotate(0deg);
            }
        
            10% {
                -webkit-transform: translate(-1px, -2px) rotate(-1deg);
                transform: translate(-1px, -2px) rotate(-1deg);
            }
        
            20% {
                -webkit-transform: translate(-3px, 0px) rotate(1deg);
                transform: translate(-3px, 0px) rotate(1deg);
            }
        
            30% {
                -webkit-transform: translate(3px, 2px) rotate(0deg);
                transform: translate(3px, 2px) rotate(0deg);
            }
        
            40% {
                -webkit-transform: translate(1px, -1px) rotate(1deg);
                transform: translate(1px, -1px) rotate(1deg);
            }
        
            50% {
                -webkit-transform: translate(-1px, 2px) rotate(-1deg);
                transform: translate(-1px, 2px) rotate(-1deg);
            }
        
            60% {
                -webkit-transform: translate(-3px, 1px) rotate(0deg);
                transform: translate(-3px, 1px) rotate(0deg);
            }
        
            70% {
                -webkit-transform: translate(3px, 1px) rotate(-1deg);
                transform: translate(3px, 1px) rotate(-1deg);
            }
        
            80% {
                -webkit-transform: translate(-1px, -1px) rotate(1deg);
                transform: translate(-1px, -1px) rotate(1deg);
            }
        
            90% {
                -webkit-transform: translate(1px, 2px) rotate(0deg);
                transform: translate(1px, 2px) rotate(0deg);
            }
        
            100% {
                -webkit-transform: translate(1px, -2px) rotate(-1deg);
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }

        .get-started {
            color: #5044EB;
        }

        .arrow {
            animation: 0.3s toLeftFromRight linear;
        }

        @keyframes toLeftFromRight {
            49% {
                transform: translateX(-100%);
            }

            50% {
                opacity: 0;
                transform: translateX(100%);
            }

            51% {
                opacity: 1;
            }
        }
    }
}
