.icon-wrapper {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    animation: 4s ups-down linear infinite;
}

@keyframes ups-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    75% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.big-circle {
    background-color: #EAEBFD;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    position: absolute;
}

.little-circle {
    border-radius: 50%;
    position: absolute;
    transition: 1000ms;
}

.services {
    background: linear-gradient(277.58deg, rgba(102, 213, 236, 0.4) 11.74%, rgba(82, 65, 255, 0.75) 88.26%), #2A1E9E;
    height: 100vh;
    position: relative;
}
