$primary: #5044EB;

body {
    overflow-x: hidden;

    .icon-wrapper {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        animation: 4s ups-down linear infinite;
    }

    @keyframes ups-down {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        25% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        50% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        75% {
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .big-circle {
        background-color: #EAEBFD;
        width: 40rem;
        height: 40rem;
        border-radius: 50%;
        position: absolute;
    }

    .little-circle {
        border-radius: 50%;
        position: absolute;
        transition: 1000ms;
    }

    .services {
        background: linear-gradient(277.58deg, rgba(102, 213, 236, 0.4) 11.74%, rgba(82, 65, 255, 0.75) 88.26%), #2A1E9E;
        position: relative;
    }

    .sticky-on {
        animation: 1s fadeInDown;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes shake {
        0% {
            -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    .service-card {
        &:hover {
            .service-icon {
                animation: 0.3s shake;
            }

            .get-started {
                color: $primary;
            }

            .arrow {
                animation: 0.3s toLeftFromRight linear;
            }

            @keyframes toLeftFromRight {
                49% {
                    transform: translateX(-100%);
                }

                50% {
                    opacity: 0;
                    transform: translateX(100%);
                }

                51% {
                    opacity: 1;
                }
            }

            path {
                fill: $primary;
            }
        }
    }

    .icon-wrapper-rounded {
        &:hover {
            path {
                animation: 0.3s shake;
            }
        }
    }

    .ticker-section {
        background: linear-gradient(300.56deg, rgba(102, 213, 236, 0.4) 25.69%, rgba(65, 50, 218, 0.8) 81.99%), #4132DA;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden !important;

        @keyframes ticker {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .ur-ticker {
            white-space: nowrap;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            font-size: 1.5rem;
            color: white;
            animation: ticker 30s linear infinite;
            display: inline-block;
        }
    }

    .exp-badge {
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F5F2 100%);
        display: inline-block;
        text-transform: uppercase;
        border-radius: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        position: absolute;
        top: -6rem;
        left: 2rem;
    }

    .exp-box {
        background: linear-gradient(180deg, #FFFFFF 0%, #F7F5F2 100%);
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 2rem;
        border-radius: 1rem;
        border: 1px solid #f4ebeb;

        li {
            &:before {
                content: "";
                height: 1rem;
                width: 1rem;
                display: inline-block;
                border: 4px solid $primary;
                border-radius: 50%;
                position: absolute;
                background-color: white;
                margin-top: 6px;
            }

            div {margin-left: 2rem}

            margin-bottom: 1rem;
        }
    }

    .slider-skills {
        background-color: #F7F5F2;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;

        .wrapper {
            overflow: hidden;
            position: relative;
            width: 22rem;
            height: 18rem;
            z-index: 1;

            .slides {
                display: flex;
                position: relative;
                top: 0;
                left: -22rem;
                width: 10000px;
                gap: 1rem;

                .slide {
                    width: 21rem;
                    height: 14rem;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: all 1s;
                    position: relative;
                    border-radius: 2px;
                    background-color: white;
                }

                &.shifting {
                    transition: left 1s ease-out;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    body {
        margin-left: 18rem;

        .exp-badge {
            top: -2rem;
        }

        .slider-skills {
            .wrapper {
                width: 100%;
            }
        }
    }
}
